body{
    background-color: #000;
}

nav ul.menu-list{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul.menu-list li{
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 20px;
    width: 100%;
}

.item{
    height: min-content;
}

.item img{
    width: 100%;
}